{% extends 'base.html' %}


{% block content %}



<h1> update post </h1>

<form action="/update_post/{{id}}" method="post">
    {{ form.hidden_tag() }}
    {{form.title.label(class='form-label')}}{{form.title(class='form-control')}}
    {{form.slug.label(class='form-label')}}{{form.slug(class='form-control')}}
    {{form.content.label(class='form-label')}}{{form.content(class='form-control')}} <br>
    {{form.submit(class='form-control')}} <br> <a href="{{url_for('post',id=id)}}" class="btn btn-danger">cencel</a>
</form>


{% endblock %}